body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background-color: #ccc;
}

.menu-lists {
    text-align: center;
}
.cv-page {
    display: flex;
    flex-direction: column;
    max-width: 614px;
    background-color: #fff;
    margin-top: 38px;
    margin-left: auto;
    margin-right: auto;
}

.heading {
    margin-top: 36px;
    margin-bottom: 28px;
    text-align: center;
}

.heading-name {
    font-size: 20px;
    margin-bottom: -6px;
}

.heading .info {
    font-size: 12px;
    font-weight: 500;
}

.content {
    margin-top: -8px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

h4 {
    font-size: 12px;
}

.content .exp-title,
.edu-title {
    padding-bottom: 8px;
    border-bottom: 2px solid #000;
    margin-bottom: 6px;
}

.content .box-title {
    margin-bottom: 8px;
    /* font-size: 0; */
}

.content .job-title,
.datetime {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    /* width: 50%; */
}

.content .datetime {
    /* text-align: right; */
    margin-top: 4px;
}

.content .job-detail {
    padding-left: 18px;
    margin-bottom: 6px;
    font-size: 12px;
}

.content .edu-detail {
    font-size: 12px;
    padding-bottom: 8px;
}

/* Code css Bài tập 2 */

.menu-section {
    margin-top: 500px;
}

.menu-section .list-items {
    height: 74px;
    font-size: 0;
    text-align: center;
    background-color: #3e5cca;
}

.menu-section .item {
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    line-height: 74px;
    padding: 0 30px;
    cursor: pointer;
}

.menu-section .item a {
    text-decoration: none;
    color: #fff;
}

.menu-section .home-box {
    background-color: #fff;
}

.menu-section .home-box a {
    color: #000;
}

.background {
    height: 500px;
    background-color: #ccc;
}
